<div class="row message rounded border border-dark" data-user-id="<%= message.user.id %>">
  <div class="col-12 message-content">
    <%= message.content %>
  </div>
  <div class="col-12 message-author">
    <%= message.user.username %>
  </div>
</div>