<p id="notice"><%= notice %></p>

<h1>Chatrooms</h1>

<div id="chatrooms" class="container-lg">
  <%= render @chatrooms %>
</div>

<%= link_to 'New Chatroom', new_chatroom_path, class: 'btn btn-info', id: "new-chatroom", remote: true %>

<div id="new-chatroom-form" class="container-sm"></div>