<p id='notice'><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Welcome to LiveChat!</h1>
  <p class="lead">LiveChat is lightweight and lightening-fast instant messaging web app. It's written in Ruby on Rails
    and uses Action Cable library to manage WebSocekts. </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="<%= chatrooms_path %>" role="button">Learn more</a>
  </p>
</div>
